/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
  --clr-primary: #eb2f64;
  --clr-primary-light: #ff3366;
  --clr-primary-dark: #ba265d;

  --clr-grey-light-1: #faf9f9;
  --clr-grey-light-2: #f4f2f2;
  --clr-grey-light-3: #f0eeee;
  --clr-grey-light-4: #ccc;

  --clr-grey-dark-1: #333;
  --clr-grey-dark-2: #777;
  --clr-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
